@import "_variables.scss";
* {
    // reset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin fonts($family, $weight) {
    // mixin para los fonts y weigts
    font-family: $family;
    font-weight: $weight;
}

@mixin display($mode, $justify) {
    // mixin para flex y tipo de justify
    display: $mode;
    justify-content: $justify;
}

// menu starts
.navbar {
    // navbar margin .5rem y 0 padding
    margin: 0 0 $half-rem-zero;
    padding: 0;
}

.rounded-pill {
    // invierte el color del icono para que sea blanco
    filter: invert(1);
}

.navbar-nav {
    // space evenly y fonts los textos del menu
    @include display(flex, space-evenly);
    width: 100%;
    @include fonts($font-frank, 500);
}

.navbar-brand {
    font-family: $font-frank;
    font-size: $font-25;
}

.bg-color {
    background-color: $bg-color;
}
// menu finish

// main starts
.img__promocional {
    //ocupa todo el ancho del div, full responsive
    width: 100%;
    margin: $half-rem-zero;
    border-radius: 1rem;
}

.img__text {
    //hace que el texto este por encima de la imagen y posicionamiento
    position: absolute;
    @include display(flex, center);
    align-self: flex-end;
}



.text__font {
    // font, sizes, etc
    @include fonts($font-frank, 500);
    font-size: $font-25;
    text-align: center;
    width: 50%;
}

.banner__img {
    // banner 100% de ancho y que no se haga stretch el height
    width: 100%;
    height: fit-content;
    padding: $half-rem-zero;
    border-radius: 1rem;
}

// carousel index
.carousel {
    // carousel centrado y 40% de ancho
    max-width: 40%;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    // fondo de los flechas negro y redondos
    background-color: #000;
    border-radius: 50%;
}

// productos starts
.prod-rows {
    // para que no desborde eje-x el carousel en productos
    margin: 0;
}

.vid__overlayText {
    // text over the vid and left center
    position: absolute;
    justify-content: flex-end;
    align-self: center;
}

.vid__title {
    // fonts, sizes, etc
    @include fonts($font-frank, 600);
    font-size: 31;
    height: fit-content;
    overflow: hidden;
}

.vid__p {
    // fonts, sizes, etc
    @include fonts($font-poppins, 500);
    font-size: 1rem;
}

.vid__button {
    // fonts, sizes, etc
    @include fonts($font-poppins, 300);
}

.vid__btn {
    // btn alineado con el texto
    padding: 0;
}

.iframe {
    // video yt responsive 16:9
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    // iframe yt alineaciones
    @include display(flex, center);
    align-items: center;
}

.iframe__size {
    // div para cambiar el tamaño del video yt
    margin: 0 auto;
    width: 70%;
    margin-top: 1rem;
}

.responsive-iframe {
    // iframe responsive
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

// carousel productos
.carousel__prod {
    // max width y padding
    max-width: 80%;
    padding: 1rem;
}

#carousel__border {
    // bordes redondeados
    border-radius: 2rem;
}
// productos ends

// perzonalizacion
.img__principal {
    // img de portada de perzonalizacion ocupando todo el div
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

// card starts
.card__personalizaciones {
    // colores de fondo y margen
    background-color: $bg-color;
    margin: 1rem;
}

.card-title,
.card-text {
    // fonts, size, etc
    @include fonts($font-poppins, 300);
    color: white;
}

.card-title {
    // fonts, size, etc
    @include fonts($font-frank, 500);

}

.row-cards {
    // fonts, size, etc
    @include display(flex, space-evenly);
    --bs-gutter-x: 0;
}

.btn-color {
    // extend usando font + color y agregando background color secundario
    @extend .card-text;
    background-color: $bg-color-2;
}
// cards ends

.titles__text {
    // personalizacion para todos los titulos 
    background-color: $bg-color-2;
    color: #fff;
    max-width: fit-content;
    border-radius: 1rem;
    padding: 0.5rem;
    @include fonts($font-frank, 500);
    margin-top: 1rem;
    text-align: center;
}
// acordion starts
.text__description {
    // font, sizes, etc
    @include fonts($font-poppins, 500);
    font-size: 1.15rem;
    padding: 0 1rem 0 1rem;
}

#accordion {
    // margen para el acordion
    margin: 1rem;
}

.accordion__tittle {
    // font, sizes. etc
    @include fonts($font-frank, 500);
    font-size: 1.25rem;
}
// acordion ends

// nosotros starts
.gps {
    // posicionamientos para el mapa
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    max-width: 90%;
}

.building__img {
    // personalizaciones para la foto del edificio
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.building__img:hover {
    // efecto when hovering
    transform: scale3d(0.98, 0.98, 0.98);
    transition: 0.2s;
    filter: grayscale(50%);
}
// nosotros ends

// contactanos starts
// form
.form__wrapper {
// div para tamaño y demas del form
    width: 65%;
    background-color: $bg-color-2;
    margin-bottom: 180px;
    border-radius: 1rem;
    padding-top: 1px;
    padding-bottom: 1rem;
}

.form-label {
    // font, sizes, etc
    @include fonts($font-poppins, 500);
    color: #fff;
}

.form__title {
    // font, sizes, etc
    @include fonts($font-frank, 600);
    color: #fff;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
    background-color: $bg-color-2;
    border-radius: 1rem;
    width: fit-content;
    max-width: 65%;
}
.form-control {
    //textarea sin tamaño editable
    resize: none;
}

// fixed img, la centra y lo pone por debajo cubriendo toda la pagina
.backgroung__container {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.bg__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
// contactanos ends

// main ends

// footer starts
.socials {

    a {
        color: white;
    }

    @mixin red($h-color) {
        // mixin para el hover color del footer
        color: $h-color;
    }

    $redes: (facebook: #3b5998,
        twitter: #1D9BF0,
        instagram: #833AB4,
    );

    .facebook:hover {
        $facebook: map-get($redes, facebook);
        @include red($facebook)
    }

    .twitter:hover {
        $twitter: map-get($redes, twitter);
        @include red($twitter)
    }

    .instagram:hover {
        $instagram: map-get($redes, instagram);
        @include red($instagram)
    }

    height: auto;
    width: 100%;
    bottom: 0;
    background-color: $bg-color;
    @include display(flex, space-evenly);
    list-style: none;
    padding-top: 5px;
    font-size: $font-25;
}

// footer ends

// responsive
@media only screen and (max-width: 559px) {
    .carousel__gamesIMG {
        font-size: 1rem;
    }

    .text__font{
        font-size: 1rem;
    }
    // font size adecuado para los breakpoints
}
@media only screen and (max-width: 1352px) {
    .img__text {
        // texto por debajo de la imagen en index
        position: static;
        @include display(flex, center);
    }

    .carousel {
        min-width: 65%;
    }

    .vid__overlayText {
        position: static;
        display: flex;
        width: fit-content;
        flex-direction: column;
    }

    .vid__title {
        font-size: 19px;
    }

    .vid__p {
        font-size: 16px;
    }
    .text__font {
        width: 70%;
    }
}