@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&family=Roboto:wght@300;400;500&display=swap");
/* 
font-family: 'Poppins', sans-serif;
400 500
font-family: 'Roboto', sans-serif;
300 400 500
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.rounded-pill {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #a0a0a0;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.bg-color {
  background-color: #1A132F;
}

.img__promocional {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 1rem;
}

.img__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.text__font {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  width: 50%;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 1rem;
}

.banner__img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem 0;
  border-radius: 1rem;
}

.carousel {
  max-width: 40%;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
}

.prod-rows {
  margin: 0;
}

.vid__overlayText {
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.vid__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.vid__p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.vid__button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.vid__btn {
  padding: 0;
}

.iframe {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: auto;
  padding-top: 56.25%;
  border-radius: 0.5rem;
}

iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.responsive-iframe {
  margin: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.img__principal {
  width: 100%;
  border-radius: 1rem;
}

.card {
  background-color: #1A132F;
  margin: 1rem;
}

.card-title,
.card-text,
.btn-color {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.row-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  --bs-gutter-x: 0;
}

.btn-color {
  background-color: #5B7DB1;
}

.socials {
  height: auto;
  background-color: #1A132F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
  font-size: 25px;
}

.socials a {
  color: white;
}

.socials .facebook:hover {
  color: #3b5998;
}

.socials .twitter:hover {
  color: #1D9BF0;
}

.socials .instagram:hover {
  color: #833AB4;
}

@media only screen and (max-width: 559px) {
  .text__font,
  .subtitle {
    font-size: 13px;
    width: 95%;
  }
  .socials {
    font-size: 13px;
  }
}

@media only screen and (min-width: 560px) and (max-width: 960px) {
  .subtitle {
    font-size: 24px;
  }
  .text__font {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1352px) {
  .img__text {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel {
    min-width: 65%;
  }
  .vid__overlayText {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vid__title {
    font-size: 19px;
  }
  .vid__p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */