@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

// menu starts
.navbar {
    // navbar margin .5rem y 0 padding
    margin: 0 0 $half-rem-zero;
    padding: 0;
}

.rounded-pill {
    // invierte el color del icono para que sea blanco
    filter: invert(1);
}

@mixin display($mode, $justify) {
    // mixin para flex y tipo de justify
    display: $mode;
    justify-content: $justify;
}

.navbar-nav {
    @include display(flex, space-evenly);
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: #fff;

    &:hover {
        color: $hover-color;
    }
}

.navbar-brand {
    font-family: $font-roboto;
    font-size: $font-25;
}

.bg-color {
    background-color: $bg-color;
}

// menu finish

// main starts
.img__promocional {
    //ocupa todo el ancho de la pagina, full responsive
    width: 100%;
    margin: $half-rem-zero;
    border-radius: 1rem;
}

.img__text {
    //hace que el texto este por encima de la imagen y posicionamiento
    position: absolute;
    @include display(flex, center);
    align-self: flex-end;
}

@mixin fonts($family, $weight) {
    // mixin para los fonts y weigts
    font-family: $family;
    font-weight: $weight;
}

.text__font {
    @include fonts($font-poppins, 800);
    font-size: $font-25;
    text-align: center;
    width: 50%;
}

.subtitle {
    //font para los subtitulos de la pagina principal
    @include fonts($font-roboto, bold);
    font-size: 40px;
    text-align: center;
    margin-top: 1rem;
}

.banner__img {
    // banner 100% de ancho y que no se haga stretch el height
    width: 100%;
    height: fit-content;
    padding: $half-rem-zero;
    border-radius: 1rem;
}

// carousel index
.carousel {
    // carousel centrado y 40% de ancho
    max-width: 40%;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    // fondo de los flechas negro y redondos
    background-color: #000;
    border-radius: 50%;
}

// productos stuff
.prod-rows {
    // para que no desvorde eje-x el carousel en productos
    margin: 0;
}

.vid__overlayText {
    // text over the vid and left center
    position: absolute;
    justify-content: flex-end;
    align-self: center;
}

.vid__title {
    @include fonts($font-roboto, 400);
    height: fit-content;
    overflow: hidden;
}

.vid__p {
    @include fonts($font-poppins, 500);
    font-size: 18px;
}

.vid__button {
    @include fonts($font-poppins, 300);
}

.vid__btn {
    padding: 0;
}

.iframe {
    // video responsive 16:9
    position: relative;
    overflow: hidden;
    width: 80%;
    height: auto;
    padding-top: 56.25%;
    border-radius: 0.5rem;
}

iframe {
    @include display(flex, center);
    align-items: center;
}

.responsive-iframe {
    margin: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

// perzonalizacion
.img__principal {
    width: 100%;
    border-radius: 1rem;
}

// card stuff
.card {
    background-color: $bg-color;
    margin: 1rem;
}

.card-title,
.card-text {
    @include fonts($font-poppins, 300);
    color: white;
}

.card-title {
    @include fonts($font-roboto, 500);

}

.row-cards {
    @include display(flex, space-evenly);
    --bs-gutter-x: 0;
}

.btn-color {
    // extend usando font + color y agregando background color secundario
    @extend .card-text;
    background-color: $bg-color-2;
}

// main ends

// footer starts
.socials {

    a {
        color: white;
    }

    @mixin red($h-color) {
        // mixin para el hover color del footer
        color: $h-color;
    }

    $redes: (facebook: #3b5998,
        twitter: #1D9BF0,
        instagram: #833AB4,
    );

    .facebook:hover {
        $facebook: map-get($redes, facebook);
        @include red($facebook)
    }

    .twitter:hover {
        $twitter: map-get($redes, twitter);
        @include red($twitter)
    }

    .instagram:hover {
        $instagram: map-get($redes, instagram);
        @include red($instagram)
    }

    height: auto;
    width: 100%;
    bottom: 0;
    background-color: $bg-color;
    @include display(flex, space-evenly);
    list-style: none;
    font-family: $font-poppins;
    padding-top: 5px;
    font-size: $font-25;
}

// footer ends

// responsive
@media only screen and (max-width: 559px) {

    .text__font,
    .subtitle {
        font-size: 13px;
        width: 95%;
    }
    // font size adecuado para los breakpoints
}

@media only screen and (min-width: 560px) and (max-width: 960px) {
    .subtitle {
        font-size: 24px;
    }

    .text__font {
        font-size: 17px;
    }

    // font sizes adecuado para los breakpoints
}

@media only screen and (max-width: 1352px) {
    .img__text {
        // texto por debajo de la imagen en index
        position: static;
        @include display(flex, center);
    }

    .carousel {
        min-width: 65%;
    }

    .vid__overlayText {
        position: static;
        display: flex;
        width: fit-content;
        flex-direction: column;
    }

    .vid__title {
        font-size: 19px;
    }

    .vid__p {
        font-size: 16px;
    }
}

// form
.form__wrapper {
    width: 50%;
    background-color: #3b5998;
    margin-bottom: 180px;
    border-radius: 1rem;
    padding-top: 1px;
    padding-bottom: 1rem;
}

.form-label {
    @include fonts($font-poppins, 500);
    color: #fff;
}

.form__title {
    @include fonts($font-roboto, 600);
    color: #fff;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
}

.form-check {
    padding: 1rem;
    margin-left: 1rem;
}

.check__row {
    @include display(flex, center);
    justify-content: space-evenly;
    align-items: flex-end;
    color: #fff;
}

.form-control {
    //textarea sin que se pueda editar el tamaño
    resize: none;
}

// fixed img, la centra y lo pone por debajo cubriendo toda la pagina
.backgroung__container {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

.bg__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}